@import url("./something.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* CSS Variables  */
:root {
  --blue: #1c2094;
  --white: #fff;
  --font-title: "Oswald", sans-serif;
  --font-text: helvetica, sans-serif;
}

body {
  background-color: var(--white);
}

img {
  width: 90%;
  max-width: 2048px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* keep style above */

/* add your parts for media query below- Add specific screen width if needed  */

@media only screen and (width <= 600px) {
  body {
    font-size: 18px;
  }
}
